<div class="top_img">
  <img src="assets/achieve.png">
</div>
<h3>このブログサイトのCodeを触れて、Programの練習をしよう！</h3>
<div class="top">
  <%= button_to "アカウント登録", new_user_path, {method: :get, class: 'top_btn'} %>
</div>
<div class="top">
  <%= button_to "ログイン", new_session_path, {method: :get, class: 'top_btn'} %>
</div>
