<div class="container">
  <div class="show">
    <p>ユーザー詳細</p>
    <br>
    <div class="user_name">
      <p>【名前】</p>
      <div class="name">
        <%= @user.name %>
      </div>
    </div>
    <div class="user_email">
      <p>【アドレス】</p>
      <div class="email">
        <%= @user.email %>
      </div>
    </div>
  </div>
</div>
